/* src/assets/styles/fonts.css */
@font-face {
    font-family: 'Sour_Gummy'; /* 自定义字体的名称 */
    src: url('@/assets/Sour_Gummy/SourGummy-Italic-VariableFont_wdth,wght.ttf') format('truetype'); /* 字体文件路径 */
    font-weight: normal;
    font-style: normal;
  }

  /* 定义全局应用字体 */
  body {
    font-family: 'CustomFont', sans-serif;
  }
  