.centered-container {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-collapse {
  width: 80%;
  background-color: rgb(243, 242, 238);
}

.demo-image .block {
  padding: 0px;
  text-align: center;
  border-right: solid 1px var(--el-border-color);
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  vertical-align: top;
}

.Menu-el-image {
  width: 45vw;
  height: 55vh;
}

.demo-image .block:last-child {
  border-right: none;
}

.demo-image {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: 14px;
}

.common-layout {
  display: block;
}

.demo-collapse span {
  cursor: pointer; /* 鼠标悬停时变为可点击状态 */
}

.common-layout-mobile {
  display: none;
}

@media (max-width: 1400px) {
  .common-layout {
    display: none;
  }

  .common-layout-mobile {
    display: block;
  }
}